// @use "../design/font";

.navHeader {
  display: flex;
  flex-direction: row;
  background-color: "#5568af";
  gap: 50px;
  &.ul {
    color: aliceblue;
    font-family: customFont;
  }
  &.li {
    &.a {
      &:active {
        color: brown;
      }
    }
  }
}
