.container {
    //grid
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: repeat(5, minmax(50px,auto));;
	// grid-template-columns: repeat(auto-fill, minmax(25%, auto));
	// grid-template-rows: repeat(5, minmax(50px,auto));
	grid-auto-flow: dense;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


// .item:nth-child(1) {
// 	grid-column-start: 1;
// 	grid-column-end: 3;
// 	grid-row-start: 1;
// 	grid-row-end: 2;
// }
